* {
  font-family: monospace;
}

.navbarLogo {
  width: 11vw;
}

.navbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 25px;
}

.navbarLink {
  text-decoration: none;
  padding: 0 15px;
  margin: 20px;
  background-color: #d7b9b9;
  color: black;
  border-radius: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding: 2px 2px;
}

.dropDown {
  text-decoration: none;
  padding: 0 15px;
  margin: 20px;
  color: black;
  border-radius: 10px;
  background-color: #d7b9b9;
  border-style: none;
  font-size: 25px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-list {
  border-top: black solid 2px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 600px) {
  .footer-list {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  .navbarLogo {
    width: 11vw;
  }

  .navbarList {
    font-size: 25px;
  }
}
