* {
  font-family: monospace;
}

.navbarLogo {
  width: 11vw;
}

.navbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 25px;
}

.navbarLink {
  text-decoration: none;
  padding: 0 15px;
  margin: 20px;
  background-color: #d7b9b9;
  color: black;
  border-radius: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding: 2px 2px;
  margin-bottom: 1rem;
}

.dropDown {
  text-decoration: none;
  padding: 0 15px;
  margin: 20px;
  color: black;
  border-radius: 10px;
  background-color: #d7b9b9;
  border-style: none;
  font-size: 25px;
}

.imgArt {
  width: 60vw;
  height: 60vw;
}

.imgArtAll {
  display: flex;
  justify-content: flex-start;
}

.imgFilter {
  width: 60vw;
  height: 60vw;
}

.imgFilterRoom {
  width: 60vw;
  height: 60vw;
}

.buttonFilter {
  background-color: #d7b9b9;
  border-radius: 10px;
  border-style: none;
  margin: 1rem;
}

.buttonBack {
  text-decoration: none;
  border: solid 1px #d7b9b9;
  background-color: #d7b9b9;
  border-radius: 10px;
  color: black;
}

@media screen and (min-width: 900px) {
  .navbarLogo {
    width: 11vw;
  }

  .navbarList {
    font-size: 25px;
  }
}
